[Unit]
Description=EPMD Server
After=network.target
Requires=eclus.socket

[Service]
Type=dbus
User=eclus
Group=eclus
BusName=org.goerlang.Eclus
BusName=org.erlang.Epmd
WorkingDirectory=/run/eclus
DeviceAllow=/dev/null rw
PrivateTmp=true
NoNewPrivileges=true
Restart=always
LimitFSIZE=0
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/eclus

[Install]
Alias=epmd.service
Also=eclus.socket
